@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #e6e2d7;
  color: #000;
  font-family: 'Noto Serif JP', serif;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;  /*包含する行ボックスの中で、インライン要素のボックスの垂直方向の配置を決める場合。例えば、テキストの行の中で画像の垂直位置を決めるために使用することができます */
}
li {
  list-style: none;
}