@charset "UTF-8";

html {
  font-size: 100%;
}
body {
  background-color: #e6e2d7;
  color: #000;
  font-family: 'Noto Serif JP', serif;
}
a {
  color: #fff;
  text-decoration: none;
}
img {
  max-width: 100%;
  vertical-align: bottom;  /*包含する行ボックスの中で、インライン要素のボックスの垂直方向の配置を決める場合。例えば、テキストの行の中で画像の垂直位置を決めるために使用することができます */
}
li {
  list-style: none;
}

.site-title {
  line-height: 1px;
  margin-left: 60px;
}

.site-title a {
  display: block;
}

.site-title img {
  width: 40px;
}

.wrapper {
  width: 100%;
  max-width: 1024px;
  margin: 0 auto;
  padding: 0 20px;
}

#header {
  width: 100%;
  /* 背景を画面下まで設定 */
  height: 100vh;
  background-image: url(../img/mainvisual-pc.jpg);
  background-size: cover;
  background-position: center top;
  background-repeat: no-repeat;
  padding: 60px 80px;
  margin-bottom: 180px;
  /* 「オンラインストアを見る」ボタンを配置するためのposition */
  position: relative;
  /* 縦書きの指定（各ブラウザに対応するためのベンダープレフィックスを設定） */
  writing-mode: vertical-rl;  /*テキストが垂直方向に実行される 右から左へのブロックの流れの方向*/
  -webkit-writing-mode: vertical-rl;  /* Chrome、Safari用 */
  -moz-writing-mode: vertical-rl;     /* Firefox用 */
  -ms-writing-mode: tb-rl;            /* IE用 */
 }

 #header .onlinestore {
  background: rgba(255,255,255,0.2);
  padding: 8px;
  position: absolute;
  left: 40px;
  bottom: 30px;
 }

 #header .onlinestore a {
  display: block;
  border: solid 1px #ccc;
  padding: 30px 18px;
}
#header .onlinestore a:hover {
  opacity: 0.7;
}
#nav li {
  margin-left: 25px;
}